.btn {
  background: #ff352b;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 0;
  font-weight: bold;
  cursor: pointer;

  &--full {
    width: 100%;
  }

  &--small {
    font-size: 13px;
    height: 37px;
    padding: 0 15px;
  }

  &--large {
    height: 60px;
  }
}